<div>

    <h2>Companies</h2>

    <button class="btn btn-success" data-toggle="modal" data-target="#saveCompanyModal" ng-click="clear()">
        <span class="glyphicon glyphicon-plus"></span> <span>Create</span>
    </button>

    <div class="modal fade" id="saveCompanyModal" tabindex="-1" role="dialog" aria-labelledby="myCompanyLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCompanyLabel">Create or edit a Company</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="company.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" class="form-control" name="companyName"
                                   ng-model="company.companyName" required>

                            <div ng-show="editForm.companyName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.companyName.$error.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Url</label>
                            <input type="text" class="form-control" name="url"
                                   ng-model="company.url" required>

                            <div ng-show="editForm.url.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.url.$error.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contact Person</label>
                            <input type="text" class="form-control" name="contactPerson"
                                   ng-model="company.contactPerson" required>

                            <div ng-show="editForm.contactPerson.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.contactPerson.$error.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contact Email</label>
                            <input type="text" class="form-control" name="contactEmail"
                                   ng-model="company.contactEmail" required>

                            <div ng-show="editForm.contactEmail.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.contactEmail.$error.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Owner</label>
                            <input type="text" class="form-control" name="owner"
                                   ng-model="company.owner" required>

                            <div ng-show="editForm.owner.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.owner.$error.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCompanyConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(company.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Company?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Company Name</th>
                    <th>Url</th>
                    <th>Contact Person</th>
                    <th>Contact Email</th>
                    <th>Owner</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in companies">
                    <td><a ui-sref="companyDetail({id:company.id})">{{company.id}}</a></td>
                    <td>{{company.companyName}}</td>
                    <td>{{company.url}}</td>
                    <td>{{company.contactPerson}}</td>
                    <td>{{company.contactEmail}}</td>
                    <td>{{company.owner}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="companyDetail({id:company.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(company.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(company.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
